.popup {
  display: none;
}

.popup__close {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  backdrop-filter: blur(1px);
  color: #000;
  z-index: 2;
}
.popup__exit {
  position: sticky;
  left: 855.72px;
  top: 160px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/close-edit.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.popup__exit:hover {
  background-image: url(../images/close-edit-hover.png);
}

.popup__form {
  display: flex;
  flex-direction: column;
  position: sticky;

  width: 33.594%;
  max-width: 430px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  top: 195px;

  background-color: #ffff;
}
.popup__form_title {
  width: 76.744%;
  height: 23px;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin-top: 34px;
  margin-left: 36px;
  cursor: default;
}
.popup__input {
  width: 83.256%;
  height: 14px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  margin-left: 35px;
  border: none;
  outline: none;
  margin-top: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.popup__input_content {
  margin-top: 29.74px;
}
.popup__line {
  border: 1px solid #c4c4c4;
  width: 83.256%;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 0;
}
.popup__button {
  width: 83.256%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  color: #c4c4c4;
}
.popup__button_disabled {
  width: 83.256%;
  height: 50px;
  margin-top: 20px;
  margin-left: 36px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: white;
  transition: 2s;
}
.popup__button:hover {
  background-color: gray;
}

.popup__input_type_error {
  z-index: 2;
  color: #ff0000;
  margin-left: 35px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  width: 83.256%;
}
@media screen and (max-width: 1005px) {
  .popup__form {
    height: 330px;
  }
  .popup__exit {
    left: 670px;
  }
  .popup__input {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cards__exit {
    left: 510px;
  }

  .popup {
    height: 2148px;
  }

  .popup__button_disabled {
    margin-left: 20px;
  }
}

@media screen and (max-width: 665px) {
  .popup__exit {
    top: 105px;
    left: 465px;
    height: 26px;
    background-size: 26px;
  }
  .popup__form {
    width: 280px;
    height: 330px;
    top: 136px;
  }
  .popup__form_title {
    margin-top: 25px;
    margin-left: 22px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
  }
  .popup__input {
    margin-top: 30px;
    margin-left: 22px;
  }
  .popup__input_content {
    margin-top: 30px;
  }
  .popup__button {
    height: 46px;
    margin-left: 22px;
  }
  .popup__button_disabled {
    height: 46px;
    margin-left: 22px;
  }
}
@media screen and (max-width: 425px) {
  .popup__form {
    height: 330px;
  }
  .popup__exit {
    top: 85.62px;
    left: 330px;
  }
}
@media screen and (max-width: 320px) {
  .popup__exit {
    left: 264.62px;
  }
}

