@import url(vendor/normalize.css);
@import url(blocks/page.css);
@import url(blocks/header.css);
@import url(blocks/main.css);
@import url(blocks/profile.css);
@import url(blocks/grid.css);
@import url(blocks/footer.css);
@import url(fonts/font.css);
@import url(blocks/edit.css);
@import url(blocks/eliminate-cards.css);
@import url(blocks/edit__avatar.css);
